<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>urlString</key>
		<string>https://swiftcasts.com</string>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>Swiftcasts</string>
		<key>body</key>
		<string>Swiftcasts is currently being built and will hopefully become an incredibly useful resource for Swift and iOS developers. Providing up-to-date screencasts on the latest technologies and updates. Arregating a wealth of knowledge and building a fantastic community.</string>
		<key>imageName</key>
		<string>projects-icon</string>
		<key>startDate</key>
		<date>2014-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>urlString</key>
		<string>https://swiftcasts.com</string>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>Swiftcasts</string>
		<key>body</key>
		<string>Swiftcasts is currently being built and will hopefully become an incredibly useful resource for Swift and iOS developers. Providing up-to-date screencasts on the latest technologies and updates. Arregating a wealth of knowledge and building a fantastic community.</string>
		<key>imageName</key>
		<string>work-icon</string>
		<key>startDate</key>
		<date>2014-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>skillPercentage</key>
		<real>80</real>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>Swift</string>
		<key>body</key>
		<string></string>
		<key>startDate</key>
		<date>2014-06-02T10:00:00Z</date>
	</dict>
	<dict>
		<key>endDate</key>
		<date>2016-06-01T08:00:00Z</date>
		<key>category</key>
		<integer>2</integer>
		<key>title</key>
		<string>Plymouth University</string>
		<key>body</key>
		<string>Plymouth University has been an amazing adventure for Josh, giving him the best chance to go far in his career and support him every step of the way. Notably sponsoring his successful Scholarship to WWDC 2014. 

Josh is studying Computer Science and is due to graduate in 2016.</string>
		<key>startDate</key>
		<date>2012-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>urlString</key>
		<string>https://swiftcasts.com</string>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>Swiftcasts</string>
		<key>body</key>
		<string>Swiftcasts is currently being built and will hopefully become an incredibly useful resource for Swift and iOS developers. Providing up-to-date screencasts on the latest technologies and updates. Arregating a wealth of knowledge and building a fantastic community.</string>
		<key>imageName</key>
		<string>josh-bruce</string>
		<key>startDate</key>
		<date>2014-09-01T08:00:00Z</date>
	</dict>
</array>
</plist>
