<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>skillPercentage</key>
		<integer>70</integer>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>Java</string>
		<key>startDate</key>
		<date>2013-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>youtube-icon</string>
		<key>body</key>
		<string></string>
		<key>logoImageName</key>
		<string>youtube-logo</string>
		<key>endDate</key>
		<date>2013-06-01T17:00:00Z</date>
		<key>urlString</key>
		<string>https://www.youtube.com/user/joshbrucie</string>
		<key>category</key>
		<integer>3</integer>
		<key>title</key>
		<string>YouTube</string>
		<key>startDate</key>
		<date>2012-04-12T08:00:00Z</date>
	</dict>
	<dict>
		<key>endDate</key>
		<date>2015-04-01T16:00:00Z</date>
		<key>category</key>
		<integer>2</integer>
		<key>title</key>
		<string>Stanford Swift Course</string>
		<key>body</key>
		<string>The Stanford University iOS course has always been a fantastic resource for Josh, something he has enrolled in and completed the lectures and assignments as released. This was a great way to learn quickly and keep up-to-date on best practises.

With Swift having been anounced at WWDC 2014, retaking the quarter between January and April 2015 a long with the Stanford University class was a great opportunity to learn new things about Swift that Josh hadn&apos;t touched yet as well as brushing up on existing skills.

Josh has been using this course as a reference ever since he started programming and creating apps for iOS back in 2011.</string>
		<key>startDate</key>
		<date>2015-01-01T09:00:00Z</date>
	</dict>
	<dict>
		<key>endDate</key>
		<date>2015-04-01T16:00:00Z</date>
		<key>category</key>
		<integer>2</integer>
		<key>title</key>
		<string>Plymouth Swift Course</string>
		<key>body</key>
		<string>Nick Outram&apos;s course iOS Development with Swift has been carefully created and curated for a fantastic learning experience and has done a great thing for Plymouth University by becoming one of the recommended iTunesU courses by Apple.

Josh has taken this course while studying at Plymouth University and recently been using the latest iteration which is dedicated to Swift and it has proved to be another great resource for learning iOS and Swift.</string>
		<key>startDate</key>
		<date>2015-01-01T09:00:00Z</date>
	</dict>
	<dict>
		<key>urlString</key>
		<string>http://247fitness.co</string>
		<key>endDate</key>
		<date>2014-10-01T16:00:00Z</date>
		<key>category</key>
		<integer>1</integer>
		<key>languages</key>
		<array>
			<string>Laravel PHP</string>
			<string>Bootstrap</string>
			<string>JavaScript</string>
			<string>CSS</string>
			<string>HTML</string>
		</array>
		<key>title</key>
		<string>24/7 Fitness</string>
		<key>body</key>
		<string></string>
		<key>imageName</key>
		<string>247fitness-icon</string>
		<key>startDate</key>
		<date>2014-08-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>skillPercentage</key>
		<integer>75</integer>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>Objective-C</string>
		<key>startDate</key>
		<date>2011-10-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sequel-pro-icon</string>
		<key>skillPercentage</key>
		<integer>75</integer>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>MySQL</string>
		<key>startDate</key>
		<date>2010-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>logoImageName</key>
		<string>surftrack-logo</string>
		<key>body</key>
		<string>Josh setup a web development company in co-partnership with a friend in 2011 which has helped fund his studies at university. Gaining a lot of knowledge and experience a long the way. Web development has been a vital part of Joshs&apos; life in becoming an iOS developer.
</string>
		<key>urlString</key>
		<string>http://www.surftrack.co.uk</string>
		<key>category</key>
		<integer>3</integer>
		<key>title</key>
		<string>SurfTrack</string>
		<key>startDate</key>
		<date>2011-03-01T09:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>laravel-logo</string>
		<key>skillPercentage</key>
		<integer>75</integer>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>Laravel</string>
		<key>startDate</key>
		<date>2013-03-01T09:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>apple-icon</string>
		<key>body</key>
		<string></string>
		<key>category</key>
		<integer>5</integer>
		<key>title</key>
		<string>Apple</string>
		<key>startDate</key>
		<date>2007-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>saxophone-icon</string>
		<key>body</key>
		<string>Josh started playing the Saxophone at the age of 7 while at primary school. It&apos;s an incredibly cool instrument and Josh loved playing it. He managed to get to grade 6 while learning through primary school and at the beginning of secondary school and then put the Saxophone down for a while. One of Joshs&apos; proudest moments with the Saxophone was the final day of primary school where a standing ovation was given for the solo.

Now 8 years on Josh has returned to play the Saxophone after recently being given a new one as a gift. Being able to pick up the Saxophone again after 8 years is a great feeling and its still that incredible instrument Josh played all those years ago.</string>
		<key>category</key>
		<integer>5</integer>
		<key>title</key>
		<string>Saxophone</string>
		<key>startDate</key>
		<date>2001-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>body</key>
		<string></string>
		<key>category</key>
		<integer>5</integer>
		<key>title</key>
		<string>Tennis</string>
		<key>startDate</key>
		<date>2005-05-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>salesx-icon</string>
		<key>body</key>
		<string></string>
		<key>endDate</key>
		<date>2014-09-01T16:00:00Z</date>
		<key>urlString</key>
		<string>https://salesx.com</string>
		<key>category</key>
		<integer>3</integer>
		<key>title</key>
		<string>SalesX</string>
		<key>startDate</key>
		<date>2012-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>endDate</key>
		<date>2015-04-26T16:00:00Z</date>
		<key>languages</key>
		<array>
			<string>Swift</string>
			<string>Parse</string>
			<string>JavaScript</string>
		</array>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>Tossr</string>
		<key>body</key>
		<string>Tossr is a small MVP for betting on a game of luck, 50-50 chance or winning with heads or tails. Josh worked on this application as freelance with a friend and it took approximatly one month to complete.

Tossr required realtime communication between the players using Pusher and data persistance using Parse this allowed for a very quick MVP to be created without having to build all the infrasture from scratch. </string>
		<key>imageName</key>
		<string>tossr-icon</string>
		<key>startDate</key>
		<date>2015-03-16T09:00:00Z</date>
	</dict>
	<dict>
		<key>endDate</key>
		<date>2014-04-14T19:00:00Z</date>
		<key>languages</key>
		<array>
			<string>Objective-C</string>
		</array>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>WWDC 2014</string>
		<key>body</key>
		<string>Josh took part in the Student Scholarship for WWDC last year (2014) and was fortunate enough to have been awarded a ticket. This was an incredible moment in his life and was the most amazing feeling after putting in hours of effort in his application.

Josh learnt a great deal while at WWDC, getting hands on experience with the best engineers in the world, meeting some of the worlds greatest developers behind some of the App Stores greatest hits and having a fantastic time.

This was one of Joshs&apos; dream to visit San Francisco and Apple, this came true in June 2014 and I would love to attend the conference again. It was a fantastic learning experience.</string>
		<key>imageName</key>
		<string>wwdc-scholarship-2014-icon</string>
		<key>startDate</key>
		<date>2014-04-04T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>justpark-app-icon</string>
		<key>body</key>
		<string>Josh is on a year long industrial placement with JustPark as an iOS Engineer helping build a brand new app written entirly in Swift. This is a complete re-write from their previos app. While Josh is here he has assisted with building this entirely new application in Swift which is available on the App Store and also about to release a WatchKit app to accompany it.

JustPark is the sharing economy of parking, allowing customers to rent out their driveways to people to park in, this has also expanded into hotels and airports. JustPark is an Index Venture and BMWi backed company who has also just recently secured a record breaking crowdfunding round raising £3.7 million from members of the public.

Josh a long with JustPark has been invited to the Apple WatchKit labs in London to get hands on time with Apple Engineers, getting great feedback and ways to improve the WatchKit app which will be ready for launch on the 24th April 2015.</string>
		<key>logoImageName</key>
		<string>justpark-logo</string>
		<key>endDate</key>
		<date>2015-08-31T17:00:00Z</date>
		<key>urlString</key>
		<string>http://www.justpark.com</string>
		<key>category</key>
		<integer>3</integer>
		<key>title</key>
		<string>JustPark</string>
		<key>startDate</key>
		<date>2014-11-10T09:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>swift-logo-icon</string>
		<key>skillPercentage</key>
		<real>80</real>
		<key>category</key>
		<integer>4</integer>
		<key>title</key>
		<string>Swift</string>
		<key>body</key>
		<string>Josh started learning Swift from the minute it was announced on 2nd June 2014. Josh was lucky enough to be at the 2014 WWDC and was able to learn quickly alongisde many great developers and ask the engineers lots of questions about the new and exciting programming language Swift.

Swift is a fantastic new language with all the modern features, giving new developers to iOS a great starting point.</string>
		<key>startDate</key>
		<date>2014-06-02T10:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>plymouth-university-logo</string>
		<key>endDate</key>
		<date>2016-06-01T08:00:00Z</date>
		<key>category</key>
		<integer>2</integer>
		<key>title</key>
		<string>Plymouth University</string>
		<key>body</key>
		<string>Plymouth University has been an amazing adventure for Josh, giving him the best chance to go far in his career and support him every step of the way. Notably sponsoring his successful Scholarship to WWDC 2014. 

Josh is studying Computer Science and is due to graduate in 2016. With many great lecturers teaching fantastic subjects such as Database Design and Object Oriented Programming with Design Patterns, being two of Joshs&apos; favourites.</string>
		<key>startDate</key>
		<date>2012-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>urlString</key>
		<string>https://swiftcasts.com</string>
		<key>languages</key>
		<array>
			<string>Laravel PHP</string>
			<string>MySQL</string>
			<string>Bootstrap</string>
			<string>JavaScript</string>
			<string>CSS</string>
			<string>HTML</string>
		</array>
		<key>category</key>
		<integer>1</integer>
		<key>title</key>
		<string>Swiftcasts</string>
		<key>body</key>
		<string>Swiftcasts is currently being built and will hopefully become an incredibly useful resource for Swift and iOS developers. Providing up-to-date screencasts on the latest technologies and updates. Arregating a wealth of knowledge and building a fantastic community.

Swiftcasts will be aimed at all skill levels, ranging from new Swift/iOS developers to the veterans who have been developing on iOS for a long time.</string>
		<key>imageName</key>
		<string>swiftcasts-logo</string>
		<key>startDate</key>
		<date>2014-09-01T08:00:00Z</date>
	</dict>
	<dict>
		<key>imageName</key>
		<string>acemobile-icon</string>
		<key>body</key>
		<string>Josh took a summer internship at NeuroCoRe, a leading app development company within the medical field. Josh was working on ACEmobile while working here over the summer, a tool used to help diagnose patients with Alzimers earlier. ACEmobile is also attemping to replace the ACE-III paper test and becoem universally known as the tool to use when testing for Alzimers.

Josh also worked on a number of other minor tools which were in development, one of which was for Parkinsons. This was a tapping test to see if the patient could tap to a rythm with an audio cue as well as how fast they could tap. 

If I were to do another internship with NeuroCoRe I would help / like to encourage them to use ResearchKit to get their applications out to the masses to get great feedback and revolutionise the medical industry with technology.</string>
		<key>endDate</key>
		<date>2014-10-31T17:00:00Z</date>
		<key>urlString</key>
		<string>http://www.neurocore.org.uk</string>
		<key>category</key>
		<integer>3</integer>
		<key>title</key>
		<string>NeuroCoRe</string>
		<key>startDate</key>
		<date>2014-07-01T08:00:00Z</date>
	</dict>
</array>
</plist>
